@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 201 22% 90%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 160.12 68.89% 47.37%;
    --primary-hover: 152, 69%, 70%;
    --primary-foreground: 240 10% 3.9%;
    --secondary: 240 10% 3.9%;
    --secondary-foreground: 0 0% 95%;
    --muted: 201 22% 90%;
    --muted-foreground: 240 10% 33.9%;
    --accent: 220 14% 96%;
    --accent-foreground: 160.12 68.89% 47.37%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 201 22% 85%;
    --input: 201 22% 85%;
    --ring: 160.12 68.89% 47.37%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 228.57 84% 4.9%;
    --foreground: 0 0% 89.8%;
    --card: 222.22 47.37% 11.18%;
    --card-foreground: 0 0% 89.8%;
    --popover: 228.57 84% 4.9%;
    --popover-foreground: 0 0% 89.8%;
    --primary: 160.12 68.89% 47.37%;
    --primary-foreground: 210 40% 98.04%;
    --secondary: 212.73 26.83% 83.92%;
    --secondary-foreground: 228.57 84% 4.9%;
    --muted: 217.24 32.58% 17.45%;
    --muted-foreground: 61 4% 73%;
    --accent: 215 28% 17%;
    --accent-foreground: 217 91% 60%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 89.8%;
    --border: 215.29 25% 26.67%;
    --input: 215.29 25% 26.67%;
    --ring: 160.12 68.89% 47.37%;
  }
}

.aggregate.aggregate-1 {
  background-color: hsl(var(--primary));
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
